<%@ Master Language="C#" AutoEventWireup="true" CodeFile="TemplateBlank.master.cs" Inherits="WillCallWeb.TemplateBlankMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
<head runat="server">    
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <title></title>
    <script src="/Includes/GeneralJava.js" type="text/javascript"></script>
</head>
<body id="blank">
<div id="fb-root"></div>
<form id="Main" runat="server">
    <asp:ScriptManager ID="ScriptManager1" EnablePartialRendering="true" runat="server" ScriptMode="Release"></asp:ScriptManager>    
    <asp:ContentPlaceHolder ID="BlankContent" runat="server"></asp:ContentPlaceHolder>
</form>
</body>
</html>